[Unit]
Description=ngrok
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3
ExecStart=/opt/ngrok/ngrok -log stdout -log-level ERROR -c /opt/ngrok/ngrok.yml start-all

[Install]
WantedBy=multi-user.target
